<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br><br><br><br><br><br><br>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              {% if error %}
              <div class="alert alert-danger" role="alert">
                Error Connecting Database.
              </div>
              {% endif %}
              <center>
              <h1 class="display-4">Create Connection</h1>
              <form method="POST" action="{{ url_for( 'new' ) }}">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div class="form-group">
                  <!-- {% if isRes %} -->
                  <!-- <pre> -->
                  <!-- </pre> -->
                  <!-- {% endif %} -->
                  {{ form.host(class="form-control form-control-lg", placeholder="Host") }}
                  {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                  {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                  {{ form.database(class="form-control form-control-lg", placeholder="Database") }}
                  <!-- <input class="form-control form-control-lg" type="text" placeholder="Query"> -->
                  {{ form.connect(class="btn btn-dark") }}
                  <!-- <button type="button" class="btn btn-dark">Run</button> -->
                </div>
              </form>
            </center>
            </div>
          </div>
    </div>
</body>
</html>