<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br><br><br>
        <a href="{{ url_for('index') }}" class="btn btn-outline-primary"> &lt; Back </a>
        <br><br>
        <center>
            <h1>Try a Query</h1>
            <br><br>
            <form method="POST" action="{{ url_for( 'querytab' ) }}">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div class="form-group">
                  <!-- {% if isRes %} -->
                  <!-- <pre> -->
                      {{ res }}
                  <!-- </pre> -->
                  <!-- {% endif %} -->
                  {{ form.Query(class="form-control form-control-lg", placeholder="Query") }}
                  <!-- <input class="form-control form-control-lg" type="text" placeholder="Query"> -->
                  {{ form.Submit(class="btn btn-dark") }}
                  <!-- <button type="button" class="btn btn-dark">Run</button> -->
                </div>
              </form>
        </center>
    </div>
</body>
</html>